<mat-toolbar color="primary">
  <span>Ip Domain App</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-card class="card-margin">
  <form class="example-form">
    <mat-form-field appearance="fill">
      <mat-label>IP or Domain</mat-label>
      <mat-select [(ngModel)]="selectedType" name="type">
        <mat-option *ngFor="let type of typeList" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedType === 'Domain'" class="example-full-width">
      <mat-label>Domain</mat-label>
      <input type="domain" matInput [formControl]="domainFormControl" [errorStateMatcher]="matcher"
        placeholder="Ex. google.com">
      <mat-error *ngIf="domainFormControl.hasError('pattern') && !domainFormControl.hasError('required')">
        Please enter a valid domain name
      </mat-error>
      <mat-error *ngIf="domainFormControl.hasError('required')">
        Host name <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="selectedType === 'IP Address'" class="example-full-width">
      <mat-label>IP Address</mat-label>
      <input type="ip" matInput [formControl]="ipFormControl" [errorStateMatcher]="matcher"
        placeholder="Ex. 98.222.116.188 or 2601:247:c003:8af6:f583:b166:7ce0:2f15">
      <mat-error *ngIf="ipFormControl.hasError('pattern') && !ipFormControl.hasError('required')">
        Please enter a valid IP
      </mat-error>
      <mat-error *ngIf="ipFormControl.hasError('required')">
        Ip address <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
  </form>
  <mat-card-actions align="end">
    <button [disabled]="!ipFormControl.valid && !domainFormControl.valid" mat-raised-button color="primary" type="submit" (click)="submit()">Submit</button>
  </mat-card-actions>
</mat-card>